<div class="container">
    <h1>Lista de Tareas</h1>
    <div class="form-container">
        <input type="text" [(ngModel)]="newTask" placeholder="Nueva tarea" class="task-input">
        <button class="add-button" (click)="addTask()">Agregar</button>
    </div>
    <ul class="task-list">
        <app-task-item *ngFor="let task of tasks" [task]="task" [ngClass]="{'completed': task === completedTask}" (click)="toggleComplete(task)"></app-task-item>
    </ul>
    <p *ngIf="tasks.length === 0">No hay tareas pendientes.</p>
</div>